.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/back4.png') no-repeat center center fixed;
  background-size: cover;
}

.register-form {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.login-link {
  margin-top: 10px;
}

button[pButton] {
  width: 100%;
}
